:root {
    --white-color: #ffffff;
    --facebook-color: #3b5999;
    --twitter-color: #46c1f6;
    --instagram-color: #e1306c;
    --github-color: #333333;
    --youtube-color: #de463b;
}

* {
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

html,
body {
    display: grid;
    height: 100%;
    width: 100%;
    place-items: center;
    background: linear-gradient(315deg, #ffffff, #d7e1ec);
}